body {
  overflow: overlay;
}

/* Colors */
:root {
  --color-default: #2b180d;
  --color-primary: #56b8e6;
  --color-secondary: #1b2f45;
}

:root {
  scrollbar-color: #666 #383838 !important;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(102, 102, 102, 1);
  border-radius: 2px;
}

.bg-present-card {
  background-color: rgb(204, 204, 204);
}

.bg-former-card {
  background-color: rgb(255, 255, 255);
}

.bg-present {
  background-color: rgb(255, 255, 255);
}


.bg-former {
  background-color: rgb(219, 219, 219);
}

.text-email {
  color: rgb(83, 91, 94);
  /* color: rgb(26, 66, 80); */
}



.bg-intro {
  content: "";
  background: linear-gradient(rgba(10, 20, 23, 0.6), rgba(10, 20, 23, 0.7)), url("../assets/img/backgrounds/bg1.png") no-repeat center center/cover;
}

.bg-navbar {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(10, 20, 23, 0.9)), url("../assets/img/backgrounds/bg1.png") no-repeat center center/cover;
}

.bg-intro-topics {
  content: "";
/*   background-color: #c9cdd2; */
  background-color: #ffffff;
  /* background: linear-gradient(rgba(10, 20, 23, 0.6), rgba(10, 20, 23, 0.7)), url("../assets/img/backgrounds/bg2.png") no-repeat center center/cover; */
}

.bg-group {
  content: "";
  background-color: #c9cdd2;
/*   background-color: #ffffff; */
  /* background: linear-gradient(rgba(10, 20, 23, 0.6), rgba(10, 20, 23, 0.7)), url("../assets/img/backgrounds/bg2.png") no-repeat center center/cover; */
}

.topics-info {
  content: "";
  background: linear-gradient(rgba(105, 113, 116, 0.6), rgba(10, 20, 23, 0.6));
  border-radius: 20px
}






/* @media (min-width: 1034px) {
    .bg-intro:after {
      position: absolute;
      content: "";
      width: 100%;
      background: var(--color-secondary);
      opacity: 0.40;
      top: 0;
      bottom: 0;
    }
  } */

/* .bg-intro:before {
    position: absolute;
    content: "";
    background: rgba(27, 47, 69, 0.6);
    inset: 0;
  } */

/* @media (max-width: 1034px) {
    .bg-intro:before {
      background: rgba(27, 47, 69, 0.7);
    }
  } */

/* .bg-intro .container {
    z-index: 1;
  } */

/* @media (min-width: 1365px) {
    .bg-intro {
      background-attachment: fixed;
    }
  } */
