@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.figitem {
    height: 240px;
    width: auto;
    min-width: 120px;
    max-width: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
