.slides {
    height: 100%;
    min-width: none;
    background-color: rgba(9, 36, 59, 0.786);
    background-size: cover;
    position: relative;
    padding: 20px 1;
}

.carousel-inner img {
    margin: auto;
    max-height: 350px;
    background: var(#031323);
    background-color: #1d1f22c7;
    text-align: center;
    float: center;
}

/* img {
    float: center;
} */


.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}